.main{
    background-color: var(--secondary-color);
    padding: 50px 0px;
    color: white;
    text-align: center;
}
h3{
    margin: 20px 0px;
    /* font-weight: 100; */
}
.icons{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: auto;
}
.icon{
    padding: 10px;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon:hover{
    background-color: white;
    color: var(--secondary-color);
    transition: all 0.5s;
    cursor: pointer;
}
.copyRight{
    background-color: #1A252F;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px 0px;
}
.copyRight p{
    font-weight: 400;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}